@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea {
  @apply w-full border my-2 py-2 px-3 rounded-lg;
}

button {
  @apply bg-gray-300;
} */

* {
  font-family: Arial, Helvetica, sans-serif;
}
button.primary {
  background-color: #6a994e;
  @apply bg-primary p-2 w-full text-white rounded-lg mt-2;
}

.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #3498db;
  border-color: #3498db transparent #3498db transparent;
  animation: loader-spin 1.2s linear infinite;
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
